node_modules/
src/**/*.js
src/**/*.d.ts
test/**/*.js
test/**/*.d.ts
*.tsbuildinfo

# Yarn
#
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
